<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <title>Todo</title>
</head>
<body>
<div th:replace="fragments :: navbar"></div>
<div class="container">
    <h1>Edit Todo</h1>
    <hr>
    <form class="form-check" th:action="@{edit-todo}" th:object="${todo}" method="post">
        <fieldset hidden="hidden">
            <label for="id" hidden="hidden"><input hidden="hidden" id="id" th:field="*{id}" type="text"/></label>
        </fieldset>
        <fieldset>
            <label class="form-label" for="description">Description: </label>
            <input type="text" id="description" th:field="*{description}" required/>
            <label th:errors="*{description}" class="alert-danger"></label>
        </fieldset>
        <fieldset>
            <label for="dueDate">Due Date: </label>
            <input type="date" id="dueDate" th:field="*{dueDate}" required/>
            <label th:errors="*{dueDate}" class="alert-danger"></label>
        </fieldset>
        <fieldset>
            <label for="done">Status: </label>
            <input type="checkbox" id="done" th:field="*{done}"/>
        </fieldset>
        <input class="btn btn-success" type="submit" value="Submit">
    </form>
</div>
<div th:replace="fragments :: footer"></div>

<script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>